.container {
    margin-top:2em;
}
#search, #tweetkov, #share {
    margin-top:1em;
}

#at {
    font-size: 2em;
    width:10%;
    color: #9b4dca;
}

#handle {
    width:80%;
    

}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  
  width: 50px;
  height: 50px;
  left:40%;
  right:40%;
  border-radius: 50%;
  border-top: 2px solid #9b4dca;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

#disclaimer {
    position: fixed; 
    bottom: 0;
    width: 80%;
    font-size: small;
}